{% extends "layout.html" %}

{% block title %}Collaborations{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other
    teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %}
    <style>
        .content .content-title {
            font-family: caslonltstd-antique, sans-serif;
            font-size: 24pt;
            color: #400732;
            position: relative;
            margin-bottom: 3rem;
        }

        .content .content-title::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 70px;
            border-bottom: #c8b186 solid 3px;
        }

        .content .content-body {
            font-family: caslon-bd-bt, sans-serif;
            font-size: 15pt;
            color: #000000;
        }

        .content .content-body p {
            width: 100%;
            padding: 10px 0;
            text-align: justify;
        }

    </style>

    <div class="collaborations">
        <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/collaborations/collaborations-material-00.png"
             alt="">
    </div>

    <div class="container content">
        <div class="row mt-5">
            <div class="col-12">
                <div class="content-part">
                    <div class="content-title d-flex justify-content-center">
                        The search for experts
                    </div>
                    <div class="content-body mt-3 d-flex flex-column align-items-center">
                        <p>
                            In order to solve some problems in social practice of the project, our team carried out
                            multi-party cooperation and communication. We found Mr. Yi Zhang from the Food Hygiene and
                            Safety Education Professional Committee of the China Medical Education Association to answer
                            our questions. He cooperated with us, and provided us with professional and constructive
                            suggestions for our project.
                        </p>
                        <div class="col-12 col-lg-8">
                            <img class="m-3 img-fluid"
                                 src="https://static.igem.wiki/teams/4249/wiki/collaborations/collaborations-img-00.jpg">
                        </div>
                        <p>
                            To implement our project in the real world, we visited relevant personnel from Angel Yeast,
                            BIG (Beijing Genomics Institute) and Hubei Zhenfu Pharmaceutical Co., LTD to learn more
                            about the industrial production.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="content-part">
                    <div class="content-title d-flex justify-content-center">
                        Meetup
                    </div>
                    <div class="content-body mt-3 d-flex flex-column align-items-center">
                        <p>
                            Asking each other questions brought a lot of inspiration to each participating team. We
                            helped each other by discussing goals, pointing out possible problems, and bouncing ideas
                            off each other. These discussions helped each participating team to strengthen its targets
                            and future goals.
                        </p>
                        <p>
                            We have established further cooperation with SZPT-CHINA, and will discuss the application of
                            ergothioneine in cosmetics.
                        </p>
                        <div class="col-12 col-lg-8">
                            <img class="m-3 img-fluid"
                                 src="https://static.igem.wiki/teams/4249/wiki/collaborations/collaborations-img-01.jpg"
                                 alt="">
                        </div>
                        <p>
                            Asking each other's questions has brought a lot of inspiration to each participating team.
                            Imitating the form of reply has helped students point out possible problems, and
                            this opportunity has helped each participating team to strengthen its next goal.
                        </p>
                        <p>
                            Our team and SZPT-CHINA will discuss the application of ergothione in cosmetics. And further
                            cooperation has been established.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="content-part">
                    <div class="content-title d-flex justify-content-center">
                        SZPT-CHINA
                    </div>
                    <div class="content-body mt-3 d-flex flex-column align-items-center">
                        <p>
                            We met all members of the SZPT-China team online, and reached in-depth cooperation and
                            communication. We also put forward some suggestions and ideas on the problem of allergies to
                            glutathione for the cosmetics they want to produce.
                        </p>
                        <p>
                            The SZPT-China team earnestly answered many questions about the competition for us, and put forward some very helpful suggestions!
                        </p>
                        <div class="col-12 col-lg-8">
                            <img class="m-3 img-fluid"
                                 src="https://static.igem.wiki/teams/4249/wiki/collaborations/collaborations-img-02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
