{% extends "layout.html" %}

{% block title %}Communication{% endblock %}
{% block lead %}Develop and implement education, science communication, and/or outreach materials related to synthetic
    biology.{% endblock %}

{% block page_content %}
    <style>
        .content .content-title {
            font-family: caslonltstd-antique, sans-serif;
            font-size: 24pt;
            color: #400732;
            position: relative;
            margin-bottom: 3rem;
        }

        .content .content-title::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 70px;
            border-bottom: #c8b186 solid 3px;
        }

        .content .content-body {
            font-family: caslon-bd-bt, sans-serif;
            font-size: 15pt;
            color: #000000;
        }

        .content .content-body p {
            padding: 10px 0;
            text-align: justify;
        }

        .content .side-img-1 {
            width: 250px;
            margin: 1rem;
        }

        .content .side-img-2 {
            width: 280px;
            margin: 1rem;
        }

        .content .side-img-3 {
            width: 420px;
            margin: 0.5rem;
        }

        .content .content-description {
            font-family: caslon-bd-bt, sans-serif;
            color: #ffffff;
            font-size: 16pt;
            width: 100%;
            padding: 3rem 2rem;
            background: #c8b186;
            text-align: center;
        }

        .content .pattern {
            width: 100px;
        }

        .content .content-line {
            color: #400732;
            height: 3px;
            opacity: 1;
            overflow: visible;
            position: relative;
        }

        .content .content-line::after {
            display: block;
            height: 20px;
            width: 220px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "ANGEL YEAST";
            font-family: caslon-bd-bt, sans-serif;
            font-style: italic;
            color: #400732;
            font-size: 16pt;
            line-height: 20px;
            background: #f6efe7;
            text-align: center;
        }

    </style>

    <div class="communication">
        <img class="w-100" src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-material-00.png"
             alt="">
    </div>

    <div class="container content">
        <div class="row mt-5">
            <div class="col-12">
                <div class="content-part">
                    <div class="side-img-1 m-3 d-none d-lg-flex float-end flex-column">
                        <img class="mb-3 img-fluid"
                             src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-00.png">
                        <img class="mb-3 img-fluid"
                             src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-01.png">
                        <img class="mb-3 img-fluid"
                             src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-02.png">
                    </div>
                    <div class="content-title d-flex justify-content-center">
                        DNA Day
                    </div>
                    <div class="content-body mt-3">
                        <p>
                            To better promote the concept of the International Genetically Engineered Machine (iGEM)
                            competition and our project "Ergothioneine Production Enhancement in <i>Saccharomyces
                            cerevisiae</i>", we conducted offline outreach activities in the central campus area in
                            conjunction with DNA Day to educate people about the important scientific advances in
                            genomics and how they affect our lives.
                        </p>
                        <div class="d-flex d-lg-none flex-column w-100">
                            <img class="m-3 align-self-center img-fluid"
                                 src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-00.png">
                        </div>
                        <p>DNA Day, celebrated annually on April 25th, commemorates the
                            successful
                            completion of the Human Genome Project and the discovery of the double helix structure of
                            DNA,
                            which was published in 1953. The goal of International DNA Day is to educate everyday people
                            about the importance of genomics so that they can make more informed decisions about their
                            healthcare and even potential careers.
                        </p>
                        <p>On this commemorative day, we prepared
                            random quizzes and raffles to educate people about biology, and they were very
                            enthusiastic to participate and get a small gift through the event. Our team members
                            actively
                            participated in the event and put a lot of enthusiasm and effort into promoting the event
                            and
                            the project, actively promoting the event on campus and guiding students to our booth to
                            participate in our activities. This event laid a good foundation for the team's social
                            practice
                            and made more and more people know about synthetic biology.
                        </p>
                        <div class="d-flex d-lg-none flex-column w-100">
                            <img class="my-3 align-self-center img-fluid"
                                 src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-01.png">
                            <img class="my-3 align-self-center img-fluid"
                                 src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-02.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="content-part">
                    <div class="side-img-2 m-3 d-none d-lg-flex float-start flex-column">
                        <img class="mb-3 img-fluid"
                             src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-03.png">
                        <img class="mb-3 img-fluid"
                             src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-04.png">
                    </div>
                    <div class="content-title d-flex justify-content-center">
                        Let Ergothioneine Come To Life
                    </div>
                    <div class="content-body mt-3">
                        <p>
                            Ergothioneine is already widely known in nature, as it exists in many animals and plants.
                            But we want ergothione to become well known for everyday people. We want its anti-aging and
                            other health benefits to become popular for all!
                        </p>
                        <p>
                            And so on July 11th, the HBUT iGEM team entered the local Hugong community to meet with
                            community members. We held an education event in the community service center, to publicize
                            the work done by the HBUT iGEM team and educate the people about the project. The activities
                            included public lectures, poster publicity, and answering questions.
                        </p>
                        <div class="d-flex d-lg-none flex-column w-100">
                            <img class="my-3 align-self-center img-fluid"
                                 src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-03.png">
                            <img class="my-3 align-self-center img-fluid"
                                 src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-04.png">
                        </div>
                        <p>
                            The purpose of this activity was to offer free popular science to community residents
                            through the exhibition window, to win a good spread in the community, and to reflect the
                            social responsibility and the positive attitude towards ergothione research.
                        </p>
                        <p>
                            The HBUT iGEM team is committed to manufacturing high-quality ergothioneine through
                            experimental means, and we want everyone to know!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="content-part">
                    <div class="content-description">
                        Over the years, Angel Yeast and Hubei University of Technology have carried out in-depth
                        cooperation in scientific research, personnel training,
                        employment and internship of college students, equipment resource sharing, product development
                        and other aspects, which has produced fruitful results.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="pattern">
                <img class="img-fluid"
                     src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-material-01.png" alt="">
            </div>
            <hr class="content-line mt-3">
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-4 mt-1 d-flex justify-content-center">
                <img class="img-fluid"
                     src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-11.png" alt="">
            </div>
            <div class="d-none d-lg-block col-12 col-lg-4 mt-1 d-flex justify-content-center">
                <img class="img-fluid"
                     src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-06.png" alt="">
            </div>
            <div class="col-12 col-lg-4 mt-1 d-flex justify-content-center">
                <img class="img-fluid"
                     src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-12.png" alt="">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="content-part">
                    <div class="side-img-3 m-3 d-none d-lg-flex float-end flex-column">
                        <img class="mb-3 img-fluid"
                             src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-09.png">
                        <img class="mb-3 img-fluid"
                             src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-10.png">
                    </div>
                    <div class="content-title d-flex justify-content-center">
                        Yanlin Presentation
                    </div>
                    <div class="content-body mt-3">
                        <p>
                            In order to help people understand the main concepts and competition process of iGEM, answer
                            students' questions about iGEM, and grow professionally, we held an iGEM information session
                            on April 9th.
                        </p>
                        <div class="d-flex d-lg-none flex-column w-100">
                            <img class="my-3 align-self-center img-fluid"
                                 src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-09.png">
                        </div>
                        <p>
                            Members of the iGEM team led the presentation. At the beginning, we made a brief
                            introduction to the International Genetic Engineering Machine Competition, so that students
                            had a preliminary understanding of the competition. After that, through the explanation of
                            the competition process, the competition content, and their growth during this period, the
                            students had a relatively complete understanding of the competition. The event encouraged
                            the students to actively participate in the competition through the domestic development
                            status of iGEM and the awards of Hubei University of Technology in recent years.
                        </p>
                        <p>
                            Then we gave a general introduction to synthetic biology to the students. By explaining the
                            basics of synthetic biology, the students gained an appreciation of the field, and an
                            understanding of the research of artificial biological systems. We explained the theoretical
                            background and development process of synthetic biology, which aroused the students' strong
                            interest. This lead to a discussion of synthetic biology's role in human society and its
                            strategic significance. Finally, we warmly encouraged them to actively participate in the
                            contest and recommend them to follow the latest news of the contest on iGEM WeChat official
                            account.
                        </p>
                        <div class="d-flex d-lg-none flex-column w-100">
                            <img class="my-3 align-self-center img-fluid"
                                 src="https://static.iGEM.wiki/teams/4249/wiki/communication/communication-img-10.png">
                        </div>
                        <p>
                            The publicity meeting was successful. Our explanation not only made the students who were
                            interested in the competition understand the basic content of the competition, but also
                            further improved their interest in this kind of competition.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}