{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for
    the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}
    <style>
        .question-1-con {
            position: relative;
            height: 500px;
            width: 420px;
            background-image: url('https://static.igem.wiki/teams/4249/wiki/human-practices/human-practices-img-02.png');
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .question-1-text {
            position: absolute;
            font-size: 18pt;
            width: 300px;
            left: 100px;
            bottom: 0;
            font-family: caslon-bd-bt, sans-serif;
            color: #400732;
        }

        .question-2-con {
            position: relative;
            height: 500px;
            width: 420px;
            background-image: url('https://static.igem.wiki/teams/4249/wiki/human-practices/human-practices-img-16.png');
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .question-2-text {
            position: absolute;
            font-size: 18pt;
            width: 340px;
            left: 0;
            bottom: 40px;
            font-family: caslon-bd-bt, sans-serif;
            color: #400732;
        }

        .question-3-con {
            position: relative;
            height: 500px;
            width: 420px;
            background-image: url('https://static.igem.wiki/teams/4249/wiki/human-practices/human-practices-img-18.png');
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .question-3-text {
            position: absolute;
            font-size: 18pt;
            width: 340px;
            left: 100px;
            bottom: 10px;
            font-family: caslon-bd-bt, sans-serif;
            color: #400732;
        }

        .human-practices-divider {
            color: #400732;
            height: 4px;
            opacity: 1;
            overflow: visible;
            position: relative;
        }

        .human-practices-divider::after {
            display: block;
            height: 20px;
            width: 220px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: 'CONCLUSION';
            font-family: caslon-bd-bt, sans-serif;
            font-style: italic;
            color: #400732;
            font-size: 16pt;
            line-height: 20px;
            background: #f6efe7;
            text-align: center;
        }
    </style>

    <div class="w-100">
        <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/contribution/contribution-img-01.png"
             alt="">
    </div>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 col-xl-5 mt-xl-5 mt-3"
                 style="background:#E0D7CC;font-family: caslon-bd-bt, sans-serif;box-shadow: 4px 4px 4px #ccc">
                <div class="d-flex flex-column">
                    <div class="align-self-center d-flex justify-content-center col-5 mb-2">
                        <img class="img-fluid"
                             src="https://static.igem.wiki/teams/4249/wiki/contribution/contribution-img-02.png"
                             alt="">
                    </div>
                    <div class="align-self-center">
                        <p class="text-center" style="font-size: 18pt">
                            Ergothionine (ERgothionine) is a multifunctional physiological cytoprotective agent, which
                            has wide application prospects in food, beverage, cosmetics and pharmaceutical industries.
                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <hr class="col-3" style="height: 4px;color: #C8B186;opacity: 1">
                    </div>
                </div>
            </div>

            <div class="col-10 col-xl-8 my-3">
                <ul style="list-style-type: decimal;font-family: caslon-bd-bt, sans-serif;font-size: 16pt">
                    <li>
                        <p>
                            In order to meet the growing market demand of pharmaceutical, cosmetics and food
                            industries, and make up for the food waste caused by the natural extraction method of
                            mushroom and the environmental pollution caused by the biosynthesis method, the
                            ergothioneine synthesis pathway was successfully constructed in Saccharomyces cerevisiae
                            cells in this project. The strain with the ability of ergothioneine synthesis was
                            obtained, which provided an economic and easy to scale up approach for the synthesis of
                            ergothioneine.
                        </p>
                    </li>
                    <li>
                        <p>
                            Successful construction of ergothioneine yeast biosynthesis module

                            In order to achieve ergothionein biosynthesis in Saccharomyces cerevisiae, we first
                            designed the expression module of ergothionein synthesis gene Egt1 from Crassa
                            Neurospora. CRISPR/Cas9 gene editing technology was applied to construct a recombinant
                            yeast strain with egt1 gene expression framework. The fermentation metabolites were
                            detected by high performance liquid chromatography. The results showed that the
                            genetically engineered strain Saccharomyces cerevisiae CEN.PK113-5D E01 had the ability
                            to produce ergothionine, but the yield was low. To improve yield, we found that another
                            gene, egt2, also plays a key role in the biosynthetic pathway. Then, we designed the
                            ergothioprotein synthesis gene egt2 module of Claviviella violaceus, and constructed
                            recombinant strain Saccharomyces cerevisiae CEN.PK113-5D E02. It was found that the
                            engineered yeast with egt1 and egt2 showed better production capacity. These results
                            indicate that Saccharomyces cerevisiae lacks egt1, which is the key gene for
                            ergothionein synthesis. The addition of exogenous gene egt2 helps to improve the
                            synthesis of ergothionine. Next, we will focus on the increase in Egt1 gene expression
                            to improve ergothionine production.
                        </p>
                    </li>
                    <li>
                        <p>
                            This project popularizes the functions of synthetic biology and natural cytoprotective
                            agents to the society, helps to correctly understand synthetic biology and iGEM events.
                            Cell protective agent refers to the material that has obvious protective effect on
                            cells.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
