{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
    <style>
        .attributions-container {
            background: #e0d7cc;
        }

        .attributions-container .pdf-frame {
            width: 90%;
            margin: 2rem;
            height: 120vh;
        }
    </style>

    <div class="attributions">
        <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/description/description-material-00.png"
             alt="">
    </div>

    <div class="container attributions-container d-flex justify-content-center">
        <iframe class="pdf-frame" src="https://static.igem.wiki/teams/4249/wiki/description/description.pdf"
                frameborder="0"></iframe>
    </div>
{% endblock %}