{% extends "layout.html" %}

{% block title %}Engineering Success{% endblock %}
{% block lead %}Demonstrate engineering success in a part of your project by going through at least one iteration of the
    engineering design cycle.{% endblock %}

{% block page_content %}
    <style>
        .engineering-container {
            background: #e0d7cc;
        }

        .engineering-container .pdf-frame {
            width: 90%;
            margin: 2rem;
            height: 120vh;
        }
    </style>

    <div class="engineering">
        <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/engineering/engineering-material-00.png"
             alt="">
    </div>

    <div class="container engineering-container d-flex flex-column align-items-center">
        <div class="col-10 col-lg-4 d-flex justify-content-center">
            <img class="img-fluid"
                 src="https://static.igem.wiki/teams/4249/wiki/engineering/engineering-material-01.png" alt="">
        </div>
        <iframe class="pdf-frame" src="https://static.igem.wiki/teams/4249/wiki/engineering/engineering.pdf"
                frameborder="0"></iframe>
    </div>
{% endblock %}
