{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2022!</b> Your team has been approved and you are ready to start the iGEM
    season!{% endblock %}

{% block page_content %}
    <style>
        /* index start */
        .index-upper-container {
            width: 100%;
            background: #3a3a7c;
            background-size: 100%;
        }

        .index-upper-img-container {
            position: relative;
            height: 70vw;
            overflow: hidden;
        }

        .index-upper-img-container img {
            display: block;
            width: 100%;
        }

        .index-upper-img-container div:nth-child(1) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .index-upper-img-container div:nth-child(2) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .index-upper-img-container div:nth-child(3) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 3;
        }

        .index-upper-img-container div:nth-child(4) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 4;
        }

        .index-upper-img-container div:nth-child(5) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 5;
        }

        .index-upper-img-container div:nth-child(6) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 6;
        }

        .index-lower-container {
            position: relative;
        }

        .index-title1 {
            position: relative;
            background: url("https://static.igem.wiki/teams/4249/wiki/index/index-lower-1.png") no-repeat;
            background-size: 400px;
            width: 400px;
            height: 130px;
        }

        .index-title1 > div {
            position: absolute;
            left: 180px;
            bottom: 20px;
            font-size: 32pt;
            font-family: ecliptica-bt-semi-serif, sans-serif;
            color: #113050;
        }

        .index-title1 > div::first-letter {
            color: #A00F0F;
            font-family: ecliptica-bt-semi-serif, sans-serif;
        }

        .index-title2 {
            position: relative;
            background: url("https://static.igem.wiki/teams/4249/wiki/index/index-lower-2.png") no-repeat;
            background-size: 400px;
            width: 400px;
            height: 130px;
        }

        .index-title2 > div {
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 32pt;
            font-family: ecliptica-bt-semi-serif, sans-serif;
            color: #113050;
        }

        .index-title2 > div span {
            display: inline-block;
        }

        .index-title2 > div span::first-letter {
            color: #A00F0F;
        }

        .index-text-bg {
            background-size: 700px;
            width: 800px;
            padding: 80px;
        }

        .index-text {
            font-family: "caslon-bd-bt", sans-serif;
            text-align: justify;
            font-size: 16pt;
        }

        .index-text::first-letter {
            float: left;
            text-align: center;
            font-size: 32pt;
            font-weight: bold;
            font-family: lucida-bright, sans-serif;
        }

        .index-circle-container {
            background: url("https://static.igem.wiki/teams/4249/wiki/index/index-lower-4.png") no-repeat;
            background-size: 180px;
            width: 180px;
            height: 180px;
        }
    </style>
    <div class="index-upper-container" data-speed-y="30">
        <div class="index-upper-img-container scene overflow-visible" id="scene">
            <div class="layer" data-depth="0.02">
                <img class="layer"
                     src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-1.png" alt="">
            </div>
            <div class="layer" data-depth="0.05">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-2.png" alt="">
            </div>
            <div class="layer" data-depth="0.10">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-3.png" alt="">
            </div>
            <div class="layer" data-depth="0.20">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-4.png" alt="">
            </div>
            <div class="layer" data-depth="0.3">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-5.png"
                     title="Antioxidant Alchemy:Cutting-edge synthesis of the potent antioxidant Ergothioneine"
                     alt="">
            </div>
            <div class="layer" data-depth="0">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-6.png" alt="">
            </div>
        </div>
    </div>
    <div class="index-lower-container">
        <div class="d-flex flex-column">
            <div class="align-self-center col-2">
                <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/index/index-logo.png" alt="">
            </div>
            <div class="align-self-center col-3">
                <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/index/index-logo-bottom.png" alt="">
            </div>
        </div>
        <div class="w-100" style="background:#f9f0e7;">
            <div class="container-xl">
                <div class="row justify-content-start">
                    <div class="index-title1">
                        <div>Magic</div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-12 col-xl-8 index-text-bg p-1 p-xl-5">
                        <div class="index-text border border-4 p-3">
                            <p>There is infinite amount of magic in our natural foods. They have magical powers that
                                affect us in a variety of ways. There is one "magic substance" that exists but is
                                not
                                limited in the mushrooms and spirulina. Its name is Ergothioneine.</p>
                            <p>It is a rare natural amino acid with unique physiological protection function. It has
                                been found to have neuroprotective effects, inhibit memory disorders, effectively
                                help
                                humans fight inflammation, protect the brain from neurotoxins, prevent cognitive
                                decline, and improve human physical fitness and endurance during exercise.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="index-title2">
                        <div>
                            <span>Antioxidant</span>
                            <span>Alchemy</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-12 col-xl-8 index-text-bg p-1 p-xl-5">
                        <div class="index-text border border-4 p-3">
                            <p>Ergothioneine was produced in modified Saccharomyces cerevisiae using CRISPR-Cas9
                                technology. We call it antioxidant alchemy.</p>
                            <p>
                                We want bring the magic of Ergothioneine to mankind. This powerful antioxidant will
                                be added to a variety of popular consumer food products, and can be made into new
                                resource
                                food with high nutrition.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 d-flex justify-content-center">
                        <div class="index-circle-container">
                        </div>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="index-circle-container">
                        </div>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="index-circle-container">
                        </div>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="index-circle-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar d-none d-lg-block">
        <img class="top-img" src="https://static.igem.wiki/teams/4249/wiki/global/top.gif" alt="">
    </div>
{% endblock %}

