{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2022!</b> Your team has been approved and you are ready to start the iGEM
    season!{% endblock %}

{% block page_content %}
    <style>
        /* index start */
        .index-upper-container {
            width: 100%;
            background: #3a3a7c;
            background-size: 100%;
        }

        .index-upper-img-container {
            position: relative;
            height: 70vw;
            overflow: hidden;
        }

        .index-upper-img-container img {
            display: block;
            width: 100%;
        }

        .index-upper-img-container div:nth-child(1) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .index-upper-img-container div:nth-child(2) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .index-upper-img-container div:nth-child(3) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 3;
        }

        .index-upper-img-container div:nth-child(4) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 4;
        }

        .index-upper-img-container div:nth-child(5) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 5;
        }

        .index-upper-img-container div:nth-child(6) {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 6;
        }

        .index-lower-container {
            position: relative;
        }

        .index-title1 {
            position: relative;
            background: url("https://static.igem.wiki/teams/4249/wiki/index/index-lower-1.png") no-repeat;
            background-size: 400px;
            width: 400px;
            height: 130px;
        }

        .index-title1 > div {
            position: absolute;
            left: 180px;
            bottom: 20px;
            font-size: 32pt;
            font-family: ecliptica-bt-semi-serif, sans-serif;
            color: #113050;
        }

        .index-title1 > div::first-letter {
            color: #A00F0F;
            font-family: ecliptica-bt-semi-serif, sans-serif;
        }

        .index-title2 {
            position: relative;
            background: url("https://static.igem.wiki/teams/4249/wiki/index/index-lower-2.png") no-repeat;
            background-size: 400px;
            width: 400px;
            height: 130px;
        }

        .index-title2 > div {
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 32pt;
            font-family: ecliptica-bt-semi-serif, sans-serif;
            color: #113050;
        }

        .index-title2 > div span {
            display: inline-block;
        }

        .index-title2 > div span::first-letter {
            color: #A00F0F;
        }

        .index-text-bg {
            background-size: 700px;
            width: 800px;
            padding: 80px;
        }

        .index-text {
            font-family: "caslon-bd-bt", sans-serif;
            text-align: justify;
            font-size: 18pt;
            color: #103050;
        }

        .drop-cap:first-letter {
            float: left;
            font-size: 48pt;
            padding-top: 12pt;
        }

        .index-text::first-letter {
            float: left;
            text-align: center;
            font-size: 32pt;
            font-weight: bold;
            font-family: ecliptica-bt-semi-serif, sans-serif;
        }

        .bg-section {
            background: #e0d7ce;
        }

        .section-keep {
            height: 400px;
            margin: 250px 0;
        }

        .img-keep {
            left: 50%;
            top: 54%;
            transform: translate(-50%, -50%);
        }

        .index-between {
            margin-top: 1rem;
            align-content: center;
        }

        .index-between .pattern {
            width: 80px;
        }

        .index-between span {
            color: #A00F0F;
        }

    </style>
    <div class="index-upper-container" data-speed-y="30">
        <div class="index-upper-img-container scene overflow-visible" id="scene">
            <div class="layer" data-depth="0.02">
                <img class="layer"
                     src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-1.png" alt="">
            </div>
            <div class="layer" data-depth="0.05">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-2.png" alt="">
            </div>
            <div class="layer" data-depth="0.10">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-3.png" alt="">
            </div>
            <div class="layer" data-depth="0.20">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-4.png" alt="">
            </div>
            <div class="layer" data-depth="0.3">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-5.png"
                     title="Antioxidant Alchemy:Cutting-edge synthesis of the potent antioxidant Ergothioneine"
                     alt="">
            </div>
            <div class="layer" data-depth="0">
                <img src="https://static.igem.wiki/teams/4249/wiki/index/index-upper-6.png" alt="">
            </div>
        </div>
    </div>
    <div class="index-lower-container">
        <div class="d-flex flex-column">
            <div class="align-self-center col-2">
                <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/index/index-logo.png" alt="">
            </div>
            <div class="align-self-center col-3">
                <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/index/index-logo-bottom.png" alt="">
            </div>
        </div>
        <div class="d-flex justify-content-center my-2">
            <div class="align-self-center">
                <iframe style="width: 75vw; height: 42.2vw"
                        title="HBUT-China: Alchemy of an Antioxidant (2022) - Project Promotion [English]"
                        src="https://video.igem.org/videos/embed/0dd8042c-b6be-4815-8ce4-c8041f5bfaa0?subtitle=en&amp;loop=1&amp;autoplay=1"
                        frameborder="0" allowfullscreen=""
                        sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
            </div>
        </div>
        <div class="w-100">
            <div class="container d-flex flex-column align-items-center">
                <div class="row justify-content-center pb-3">
                    <div class="index-title1">
                        <div>Magic</div>
                    </div>
                </div>
                <div class="d-none d-lg-flex row col-12 bg-section section-keep">
                    <div class="w-50 position-relative">
                        <img class="img-keep w-75 position-absolute"
                             src="https://static.igem.wiki/teams/4249/wiki/index/keep.png" alt="">
                    </div>
                    <div class="w-50 index-text d-flex flex-column align-items-center justify-content-center px-3">
                        <img src="https://static.igem.wiki/teams/4249/wiki/index/pattern02.png" alt="">
                        <p>
                            There is infinite amount of magic in our natural foods. They have magical powers that affect
                            us in a variety of ways. There is one "magic substance" that exists but is not limited in
                            the mushrooms and spirulina. Its name is ergothioneine.
                        </p>
                    </div>
                </div>
                <div class="d-flex d-lg-none row col-12 mb-3">
                    <div class="w-100">
                        <div class="index-text align-self-center d-flex flex-column align-items-center px-3 bg-section">
                            <img src="https://static.igem.wiki/teams/4249/wiki/index/pattern02.png" alt="">
                            <p>
                                There is infinite amount of magic in our natural foods. They have magical powers that
                                affect us in a variety of ways. There is one "magic substance" that exists but is not
                                limited in the mushrooms and spirulina. Its name is ergothioneine.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row index-text">
                    <p class="drop-cap">
                        It is a rare natural amino acid with unique physiological protection functions. It has been
                        found to have neuroprotective effects, inhibit memory disorders, effectively help humans fight
                        inflammation, protect the brain from neurotoxins, prevent cognitive decline, and improve human
                        physical fitness and endurance during exercise.
                    </p>
                </div>
                <div class="index-between d-flex flex-column align-items-center my-5">
                    <div class="pattern">
                        <img class="mx-auto img-fluid"
                             src="https://static.igem.wiki/teams/4249/wiki/index/pattern01.png" alt="">
                    </div>
                    <span>◆</span>
                    <span>◆</span>
                    <span>◆</span>
                    <div class="d-flex justify-content-center my-5">
                        <img class="w-75 fresh-img" src="https://static.igem.wiki/teams/4249/wiki/index/fresh.png"
                             alt="">
                    </div>
                    <span>◆</span>
                    <span>◆</span>
                    <span>◆</span>
                </div>
                <div class="row justify-content-center">
                    <div class="index-title2">
                        <div>
                            <span>Antioxidant</span>
                            <span>Alchemy</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center my-3">
                    <div class="col-12 d-flex flex-column">
                        <div class="w-100 index-text align-self-center d-flex flex-column align-items-center px-3 bg-section">
                            <img src="https://static.igem.wiki/teams/4249/wiki/index/pattern02.png" alt="">
                            <p>
                                We produced ergothioneine in modified <i>Saccharomyces cerevisiae</i> using CRISPR-Cas9
                                technology. We call it antioxidant alchemy.
                            </p>
                            <p>
                                We want to bring the magic of ergothioneine to mankind. This powerful antioxidant can be
                                added to a variety of popular consumer food products, and could be made into new
                                resource foods with high nutrition.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
