{% extends "layout.html" %}

{% block title %}Model{% endblock %}
{% block lead %}Explain your model's assumptions, data, parameters, and results in a way that anyone could
    understand.{% endblock %}

{% block page_content %}
    <style>
        .model-container {
            background: #e0d7cc;
        }

        .model-container .pdf-frame {
            width: 90%;
            margin: 2rem;
            height: 120vh;
        }
    </style>

    <div class="model">
        <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/model/model-materials-00.png" alt="">
    </div>

    <div class="container model-container d-flex justify-content-center">
        <iframe class="pdf-frame" src="https://static.igem.wiki/teams/4249/wiki/model/model.pdf"
                frameborder="0"></iframe>
    </div>
{% endblock %}
