{% extends "layout.html" %}

{% block title %}Parts{% endblock %}
{% block lead %}This page contains information about the parts created by the team.{% endblock %}

{% block page_content %}
    <style>
        .parts-title {
            position: relative;
            font-size: 18pt;
            font-family: caslonltstd-antique, sans-serif;
            color: #400732;
        }

        .parts-title::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            background: #C8B186FF;
            height: 2px;
            width: 40px;
        }

        .parts-text {
            font-family: caslon-bd-bt, sans-serif;
            font-size: 16pt;
        }

        .article .article-table table {
            width: 100%;
            border-top: 1.5pt solid #111111;
            border-bottom: 1.5pt solid #111111;
        }

        .article .article-table thead th {
            vertical-align: bottom;
            border-bottom: 0.5pt solid #111111;
        }

        .article .article-table th, .article .article-table td {
            padding: 0.25rem;
            vertical-align: top;
            text-align: center;
        }
    </style>

    <div class="w-100">
        <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/parts/parts-img-01.png" alt="">
    </div>
    <div class="row mt-4 justify-content-center">
        <div>
            <p class="text-center" style="font-family: caslonltstd-antique, sans-serif;color: #400732;font-size: 18pt">
                This year we set up four parts for the project, two of which are basic parts and two are composite
                parts:</p>
        </div>
        <div class="col-12 mt-5">
            <p class="text-center"><span class="parts-title"></span></p>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="d-flex flex-column col-12 col-xl-6" style="background:#E0D7CC;">
                <div class="col-4 align-self-center">
                    <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/parts/parts-img-02.png" alt="">
                </div>
                <div class="article d-flex justify-content-center my-4">
                    <div class="col-12 article-table">
                        <table>
                            <thead>
                            <tr style="font-family: caslonltstd-antique, sans-serif;color: #400732;">
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                                <th scope="col">Designers</th>
                                <th scope="col">Length</th>
                            </tr>
                            </thead>
                            <tbody style="font-family: caslon-bd-bt, sans-serif;">
                            <tr>
                                <td>BBa_K4249000</td>
                                <td>Coding NcEgt1</td>
                                <td>
                                    The biosynthetic gene for ERG production from N.crassa that catalyzing the first
                                    enzymatic step
                                </td>
                                <td>Douglas B.Kell and Irina Borodina</td>
                                <td>2631bp</td>
                            </tr>
                            <tr>
                                <td>BBa_K4249001</td>
                                <td>Coding CpEgt2</td>
                                <td>
                                    The biosynthetic gene for ERG production from C. purpurea that catalyzing the 2nd
                                    enzymatic step
                                </td>
                                <td>Douglas B.Kell and Irina Borodina</td>
                                <td>1581bp</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 pb-4">
                    <p class="text-center"><span class="parts-title"></span></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8 p-3 parts-text">
            <p>
                These two parts are gene coding sequences, one encodes <i>egt1</i> that from <i>Neurospora crassa</i>, a
                filamentous
                fungus that produces ergothioneine, another encodes <i>egt2</i> that from ergot fungus <i>Claviceps
                purpurea</i>, the
                first strain that was found to be capable of producing ergothioneine.
            </p>
            <p>
                <i>Egt1</i> is a nonheme iron enzyme that could simultaneously catalyze two reactions, including the
                methylation of
                histidine to hecynine and the conversion of hecynine to hercynylcysteine sulfoxide. After that, another
                enzyme called <i>Egt2</i>, hercynylcysteine S-oxide lyase, will combine with hercynylcysteine sulfoxide to form
                EGT.
            </p>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="d-flex flex-column col-12 col-xl-6" style="background:#E0D7CC;">
                <div class="col-4 align-self-center">
                    <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/parts/parts-img-02.png" alt="">
                </div>
                <div class="article d-flex justify-content-center my-4">
                    <div class="col-12 article-table">
                        <table>
                            <thead>
                            <tr style="font-family: caslonltstd-antique, sans-serif;color: #400732;">
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                                <th scope="col">Designers</th>
                                <th scope="col">Length</th>
                            </tr>
                            </thead>
                            <tbody style="font-family: caslon-bd-bt, sans-serif;">
                            <tr>
                                <td>BBa_K4249002</td>
                                <td>Expression cassette</td>
                                <td>
                                    The expression cassette carrying an ADH1 promoter, NcEgt1 coding sequence and an
                                    CYC1 terminator
                                </td>
                                <td>Wenxin Wang</td>
                                <td>3636bp</td>
                            </tr>
                            <tr>
                                <td>BBa_K4249003</td>
                                <td>Expression cassette</td>
                                <td>
                                    The expression cassette carrying an TEF1 promoter, CpEgt2 coding sequence and an
                                    CYC1 terminator
                                </td>
                                <td>Wenxin Wang</td>
                                <td>2273bp</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 pb-4">
                    <p class="text-center"><span class="parts-title"></span></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8 p-3 parts-text">
            <p>
                These two parts are the gene expression cassettes corresponding to the above two genes respectively. The
                expression cassettes both carrying a promoter, gene coding sequence and a terminator.
            </p>
            <p>
                In order to enable the engineered strain to produce ergothioneine in a more sustainable way, we chose
                the constitutive promoter to introduce the expression of the two heterologous genes. According to
                literature references and existing resources in our laboratory, we finally chose apply pTEF1 and pADH1
                to our work, they are commonly used for metabolic engineering of yeast, more importantly, both of them
                could provide relatively high expression values of genes, which means we could get more production of
                ergothioneine in the end.
            </p>
            <p>
                Transcription terminators play a role in terminating the progress of gene transcription, and are thus
                essential elements in the gene expression. For both gene expression cassettes, we chose to apply tCYC to
                our work.
            </p>
            <p>
                Here, these two gene expression cassettes were added with about 0.5kb homology arms on both sides when
                they were used as the linear integration fragments.
            </p>
        </div>
        <div class="col-12 mt-5">
            <p class="text-center"><span class="parts-title">Note</span></p>
        </div>
        <div class="col-12 col-xl-8 p-3 parts-text">
            <p>
                For better use by future iGEM teams, here are some tips. During the experiment, we found that some
                regions of the promoter sequence templates are rich in GC residues, which tend to fold into complex
                secondary structures and might not melt during the annealing phase of the PCR cycle. Also, the primers
                used to amplify GC-rich regions often have a high capacity to form self- and cross-dimers and a strong
                tendency to fold into stem-loop structures that can impede the progress of the DNA polymerase along the
                template molecule. Therefore, instead of PCR method, we obtained the gene expression cassettes by enzyme
                digestion.
            </p>
        </div>
        <div class="col-12 mt-5">
            <p class="text-center"><span class="parts-title">Reference</span></p>
        </div>
        <div class="col-12 col-xl-8 p-3 parts-text">
            <p>
                van der Hoek, S. A., B. Darbani, K. E. Zugaj, B. K. Prabhala, M. B. Biron, M. Randelovic, J. B. Medina,
                D. B. Kell and I. Borodina (2019). "Engineering the Yeast Saccharomyces cerevisiae for the Production of
                L-(+)-Ergothioneine." Frontiers in Bioengineering and Biotechnology 7.
            </p>
        </div>

    </div>


{% endblock %}
