{% extends "layout.html" %}

{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}
    <style>
        .safety-title {
            position: relative;
            font-size: 20pt;
            font-family: caslonltstd-antique, sans-serif;
            color: #400732
        }

        .safety-title::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            background: #C8B186FF;
            height: 2px;
            width: 20px;
        }

        .safety-text {
            font-size: 16pt;
            font-family: caslon-bd-bt, sans-serif;
            text-align: justify;
        }

    </style>

    <div class="w-100">
        <img class="w-100" src="https://static.igem.wiki/teams/4249/wiki/safety/safety-img-01.png" alt="">
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <p class="text-center"><span class="safety-title">Strain</span></p>
            </div>
            <div>
                <p class="safety-text">
                    <span style="font-style: italic">Saccharomyces cerevisiae</span> is a GRAS (generally regarded as
                    safe) microorganism. It has a clear
                    genetic background, and is commonly applied in simple genetic operations. It has been widely
                    employed as the chassis organism for the biosynthesis of natural products in food, medicine, and
                    other fields. In this work, we tried to construct the ergothioneine metabolic pathway in
                    <span style="font-style: italic">Saccharomyces cerevisiae</span> CEN.PK113-5D. Two genes,
                    <i>NcEgt1</i> and
                    <i>CpEgt2</i>, were integrated into genome by
                    homologous recombination mediated by CRISPR-Cas9 technology. The strain we used in the project for
                    cloning unmethylated DNA is <span style="font-style: italic">E. coli</span> JM110. It is a commonly
                    used strain, whose safety has been
                    verified, and only requires laboratory safety level P1. There is no risk to our community and the
                    environment.
                </p>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <img class="col-6" src="https://static.igem.wiki/teams/4249/wiki/safety/safety-img-02.jpg" alt="">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <p class="text-center"><span class="safety-title">Genes</span></p>
            </div>
            <div>
                <p class="safety-text">
                    DNA sequences of <i>NcEgt1</i> and <i>CpEgt2</i> were derived from <span style="font-style: italic">Neurospora crassa</span>
                    OR74A and <span style="font-style: italic">Claviceps purpurea</span>
                    20.1, and were codon-optimized for <span style="font-style: italic">S. cerevisiae</span>. They are
                    also environmentally friendly and there
                    is no safety concern.
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <p class="text-center"><span class="safety-title">Ergothioneine</span></p>
            </div>
            <div>
                <p class="safety-text">
                    Our main goal is to achieve higher production of ergothioneine, which is a natural antioxidant. As
                    an important active substance in the body, it is distributed in some tissues and organs of mammals.
                    It can be safely used in new food supplements in the diet of infants, young children, and women who
                    are pregnant or lactating.
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <p class="text-center"><span class="safety-title">Laboratory</span></p>
            </div>
            <div>
                <p class="safety-text">
                    The laboratory environment is in line with safety regulations, and there are corresponding emergency
                    equipment and emergency protocols. Professor Dai and Professor Yao are responsible for safety in the
                    lab.
                </p>
                <div class="col-12 d-flex justify-content-center">
                    <img class="col-10" src="https://static.igem.wiki/teams/4249/wiki/safety/safety-img-04.png" alt="">
                </div>
                <p class="safety-text">
                    They are professors of Hubei University of Technology. They have provided support in the experiment
                    design to maintain project safety. The link below contains the biosafety guideline for our
                    laboratory: <a class="d-inline-block text-dark" href="https://zcc.hbut.edu.cn/info/1112/1544.htm"
                                   target="_blank">https://zcc.hbut.edu.cn/info/1112/1544.htm</a>
                </p>
                <div class="col-12 d-flex justify-content-center">
                    <img class="col-6" src="https://static.igem.wiki/teams/4249/wiki/safety/safety-img-05.jpg" alt="">
                </div>
                <p class="safety-text">
                    Everyone involved in this project has already received security training. Training includes: the
                    operating principles of instruments and equipment, the handling of chemical substances, laboratory
                    emergency protocols, the maintenance of experiment equipment, and waste disposal measures. During
                    all experimental operations, each member wore proper attire to protect personal safety.
                </p>
            </div>
        </div>

    </div>

{% endblock %}
