<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <!---- TEAM NAME ---->
        <a class="navbar-brand cursor" href="#">
            <img class="logo" src="https://static.igem.wiki/teams/4249/wiki/logo/navbar-logo.png" alt="">
        </a>

        <!---- SMALL SCREEN MENU ICON ---->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon cursor"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto left-aligned">

                <!---- HOME ---->
                <li class="nav-item">
                    {% if request.url.split('/')[-1] == '' %}
                        <a class="nav-link cursor active" href="{{ url_for('index') }}">Home</a>
                    {% else %}
                        <a class="nav-link cursor" href="{{ url_for('index') }}">Home</a>
                    {% endif %}
                </li>

                <!---- TEAM ---->
                <li class="nav-item dropdown">

                    {% if ['members', 'attributions', 'collaborations'].__contains__(request.url.split('/')[-1]) %}
                        <a class="nav-link dropdown-toggle cursor active" href="#"
                           id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Team
                        </a>
                    {% else %}
                        <a class="nav-link dropdown-toggle cursor" href="#"
                           id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Team
                        </a>
                    {% endif %}

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='members') }}">Members</a></li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='attributions') }}">Attributions</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='collaborations') }}">Collaborations</a>
                        </li>
                    </ul>
                </li>

                <!---- PROJECT ---->
                <li class="nav-item dropdown">
                    {% if ['communication', 'contribution', 'description', 'engineering', 'experiments', 'implementation', 'notebook', 'partnership', 'results'].__contains__(request.url.split('/')[-1]) %}
                        <a class="nav-link dropdown-toggle cursor active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Project
                        </a>
                    {% else %}
                        <a class="nav-link dropdown-toggle cursor" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Project
                        </a>
                    {% endif %}

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='communication') }}">Communication</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='contribution') }}">Contribution</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='description') }}">Description</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='engineering') }}">Engineering</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='experiments') }}">Experiments</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='implementation') }}">Implementation</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='notebook') }}">Notebook</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='partnership') }}">Partnership</a>
                        </li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='results') }}">Results</a>
                        </li>
                    </ul>
                </li>

                <!---- PARTS ---->
                <li class="nav-item dropdown">
                    {% if request.url.split('/')[-1] == 'parts' %}
                        <a class="nav-link cursor active" href="{{ url_for('pages', page='parts') }}">Parts</a>
                    {% else %}
                        <a class="nav-link cursor" href="{{ url_for('pages', page='parts') }}">Parts</a>
                    {% endif %}
                </li>

                <!---- SAFETY ---->
                <li class="nav-item">
                    {% if request.url.split('/')[-1] == 'safety' %}
                        <a class="nav-link cursor active" href="{{ url_for('pages', page='safety') }}">Safety</a>
                    {% else %}
                        <a class="nav-link cursor" href="{{ url_for('pages', page='safety') }}">Safety</a>
                    {% endif %}
                </li>

                <!---- HUMAN PRACTICES ---->
                <li class="nav-item">
                    {% if request.url.split('/')[-1] == 'human-practices' %}
                        <a class="nav-link cursor active" href="{{ url_for('pages', page='human-practices') }}">Human
                            Practices</a>
                    {% else %}
                        <a class="nav-link cursor" href="{{ url_for('pages', page='human-practices') }}">Human
                            Practices</a>
                    {% endif %}
                </li>

                <!---- AWARDS ---->
                <li class="nav-item dropdown">
                    {% if ['education', 'model'].__contains__(request.url.split('/')[-1]) %}
                        <a class="nav-link dropdown-toggle cursor active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Awards
                        </a>
                    {% else %}
                        <a class="nav-link dropdown-toggle cursor" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Awards
                        </a>
                    {% endif %}

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='education') }}">Education</a></li>
                        <li><a class="dropdown-item cursor" href="{{ url_for('pages', page='model') }}">Model</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
