body {
    padding-top: 56px;
    background-color: #f6efe7;
}

.left-aligned {
    margin-left: auto;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-hero {
    background-color: #7952b3;
}

/* CALLOUT */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

/* footer */
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* team start */

@font-face {
    font-family: NAME CaslonGraphique;
    src: url("https://static.igem.wiki/teams/4249/wiki/caslongraphique.otf");
}

@font-face {
    font-family: INTRODUCTION Caslon Bd BT;
    src: url("https://static.igem.wiki/teams/4249/wiki/caslon-bd-bt.ttf");
}

.group-photo-area {
    background-color: #113050;
}

.group-photo-frame {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.single-member {
    position: relative;
}

.member-img {
    width: 10rem;
}

.member-name {
    font-family: "NAME CaslonGraphique", sans-serif;
    font-size: 16pt;
}

.pi .member-name {
    font-family: "NAME CaslonGraphique", sans-serif;
    font-size: 16pt;
    text-align: center;
}

.member-introduction {
    font-family: "INTRODUCTION Caslon Bd BT", sans-serif;
    font-size: 14pt;

    min-height: 120px;
    text-align: justify;
}

.member-stamp {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3rem;
    width: 3rem;
}
/* team end */