body {
    padding-top: 46px;
    background-color: #f6efe7;
}

.left-aligned {
    margin-left: auto;
}

.bg-dark {
    background-color: #4c4c93 !important;
}

.bg-hero {
    background-color: #7952b3;
}

/* font start */

@font-face {
    font-family: portada-regular;
    src: url('https://static.igem.wiki/teams/4249/wiki/font/portada-regular.otf');
}

@font-face {
    font-family: caslongraphique;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/caslongraphique.otf");
}

@font-face {
    font-family: caslon-bd-bt;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/caslon-bd-bt.ttf");
}

@font-face {
    font-family: courier;
    src: url('https://static.igem.wiki/teams/4249/wiki/font/courier.otf');
}

@font-face {
    font-family: caslonltstd-antique;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/caslonltstd-antique.otf");
}

@font-face {
    font-family: courier;
    src: url('https://static.igem.wiki/teams/4249/wiki/font/courier.otf');
}

@font-face {
    font-family: caslongraphique;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/caslongraphique.otf");
}

@font-face {
    font-family: caslon-bd-bt;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/caslon-bd-bt.ttf");
}

@font-face {
    font-family: ecliptica-bt-semi-serif;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/ecliptica-bt-semi-serif.ttf");
}

@font-face {
    font-family: modern-no-20-regular;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/modern-no-20-regular.ttf");
}

@font-face {
    font-family: modern20-bt;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/modern20-bt.ttf");
}

@font-face {
    font-family: times-new-roman;
    src: url("https://static.igem.wiki/teams/4249/wiki/font/times-new-roman.ttf");
}

/* font end */

/* menu start */
.logo {
    height: 40px;
}

.navbar {
    font-family: portada-regular, sans-serif;
}

.nav-item {
    margin: 0 3px;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    background: #c17eb3;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dedefc
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    /*color: #f9f0e7;*/
}

.dropdown-menu {
    background: #f9f0e7;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #9eccd5;
    color: #fff;
}

/* menu end */

/* tool start */
.sidebar {
    position: fixed;
    right: 20px;
    bottom: 60px;
    height: 100px;
}

.sidebar .top-img {
    display: none;
    width: 70px;
    height: auto;
}

/* tool end */

/* cursor start */
html, .cursor {
    cursor: url('https://static.igem.wiki/teams/4249/wiki/global/wand.png'), auto !important;
}

.halation {
    z-index: 2147483647;
    width: 0;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.lumos {
    z-index: 2147483646;
    width: 0;
    height: auto;
    opacity: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* cursor end */

/* CALLOUT start */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

